<html>
  <body>
    <div>
     Hello {{username}}<br> We received a request to reset your password. Please create a new password by clicking this link:<a href={{link}}>{{link}} </a></div>
     <div>
        This request will expire in 1 hour.
     </div>
        If you did not request this change, no changes have been made to your account. We recommend that you review your security settings: https://nexclipper.io/security
    </div>
  </body>
</html>