<html>
  <body>
    <div>
     Hello, {{username}}
     <div> Please Click on the link to accept the tenancy assignment.<br><button>
        <a href={{acceptLink}}>Accept</a>
     </button>
     </div>
     <div> Please Click on the link to reject the tenancy assignment.<br><button>
        <a href={{rejectLink}}>Reject</a>
     </button>
     </div>
     
    </div>
  </body>
</html>